+node_modules/
+frontend/node_modules/
+# Ignorar todo el build…
+frontend/build/*
+# …pero no esta carpeta…
+!frontend/build/videos/
+# …ni este único archivo de vídeo
+!frontend/build/videos/background.mp4